
div.nav-bar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: inline-block;
    text-transform: capitalize;
    color: rgb(96, 204, 237);
    border: 1px solid rgb(104, 138, 241);
    margin: 0px;
    padding: 25px;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: white;
    position: fixed; 
    top: -5px;  
    left: -5px;
    white-space: nowrap;
    overflow: hidden;
}
div.nav-bar img {
    height: 70px; 
    width: 70px;
    display: inline;
    margin: 5px;
    padding: 5px; 
    position: relative;
    left: -300px;
    top: -15px;
}
div.nav-bar a {
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: rgb(96, 204, 237);
    position: relative;
    top: -55px;
    bottom: 55px;
    right: -20%;
}
div.nav-bar a.button {
    background-color: rgb(11, 40, 201);
    color: white;
    border-radius: 40px;
    text-transform: uppercase;
    padding: 5px;
}
.body{
    background-color: white;
    color: black;
}